body {
font-family: "montserrat";
text-align: center;
}

h1, h2, h3, h4, h5, h6 {
font-family: 'Montserrat, sans-serif';
}

p {
color: #8f8f8f;
}

/*   Sections  */

.colored-section {
background-color: #ff4c68;
color: #fff;
}

.white-section {
background-color: #fff;
}

/* Top Section */

.container-fluid {
padding: 7% 15%;
}

#title .container-fluid {
text-align: left;
padding: 1% 15% 0;
}

/*  Headings  */

.big-heading {
font-family: 'Montserrat, sans-serif';
font-size: 3.5rem;
line-height: 1.5;
font-weight: 900;
}

.section-heading {
font-size: 3rem;
line-height: 1.5;
}

/* Navigation Bar */

.navbar {
padding-top: 2.5rem;
padding-bottom: 4.5rem
}


.navbar-brand {
font-family: "Ubuntu";
font-size: 2.5rem;
font-weight: bold;
}

.nav-item {
padding: 0 18px;
}

.nav-link {
font-family: "Montserrat-light"
font-size: 1.2rem
}

/* Download buttons */

.download-button {
font-size: 2.5rem;
margin: 5% 3% 5% 0;
}

/* Title image */

.title-image {
width: 60%;
transform: rotate(25deg);
position: relative;
left: 20%;
top: 20%
}

/* Features section */

#features {
padding: 8% 0;
background-color: white;
position: relative;
z-index: 1;
}

.feature-title {
font-size: 2.5rem;
}

.yeye {
margin: 100 50px;
}

.icons1 {
font-size: 3.5rem;
color: #ef8172;
margin: 25% auto 5% auto;
}

.fas:hover {
color: #ff4c68
}

/* Testemonials section */

#testimonials {
background-color: #ef8172;
}

.testimonial-text {
font-size: 3rem;
font-height: 1.5
}

.testimonial-image {
width: 10%;
border-radius: 100%;
margin: 20px;
}

/* press section */

#press {
background-color: #ef8172;
padding-bottom: 3%;
}

.price-text {
font-size:3rem;
line-height:1.5;
}

.img-press {
width: 15%;
margin: 20px 20px 50px;
}

/* pricing */

#pricing {
padding: 100px;
}

.pricing-column {
padding: 3% 2%;
}

/*       cta         */

#cta {
font-family: 'Montserrat', sans-serif;
font-size: 2.5rem;
}

.cta-heading {
font-size: 3.5rem;
}

/*   Footer      */

.icons2 {
padding:20px 10px;
}

.icons2:hover {
color: #ff4c68
}

/* for tablet and mobile */

@media (max-width: 1000px) {

#title {
text-align: center;
}


.title-image {
transform: rotate(0);
position: static;
}

}